apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  labels:
    app: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend-container
          image: 407291110458.dkr.ecr.ap-northeast-1.amazonaws.com/shopping-site-backend:9a308c4221248a658dfc4a99e5d4ff27910759df
          ports:
            - containerPort: 5000
