apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  labels:
    app: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend-container
          image: 049061799945.dkr.ecr.ap-northeast-1.amazonaws.com/shopping-site-backend:9c57a7dac85f9f09ebcc31cf14870f5788f9e776
          ports:
            - containerPort: 5000
